/* Reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Config Padrão */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* Conteúdo */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: "Fira code", sans-serif;
}

/* Produtos */
.product-list {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  width: 100%;
  margin-top: 1px;
  background-color: #f0f0f0;
}

.product-item picture {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  margin-left: 10px;
}

.product-item picture img {
  width: 90%;
}

.product-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  padding: 0 10px;
}

.product-item div header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-item div footer {
  display: flex;
  flex-direction: row;
}

.product-item__name {
  font-size: 17px;
}

.product-item__quantity {
  font-size: 20px;
}

.product-item__price {
  font-weight: bold;
  font-size: 17px;
  color: #50fa7b;
}

/* Container */
.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.container__total {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #555555;
  height: 50%;
}

.container__total span {
  margin-left: 5px;
  font-weight: bold;
}

.container__finalizar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #50fa7b;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.container__finalizar:hover {
  opacity: 80%;
  background: #00b32d;
  animation-duration: 2s;
}
