.text-1 {
  font-family: 'Fira code';
}

.text-2 {
  font-family: 'Fira code';
}

.text-3 {
  font-family: 'Fira code';
}

.text-4 {
  font-family: 'Fira code';
}

.text-5 {
  font-family: 'Fira code';
}

.flex, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  flex-direction: column;
  height: 100%;
}

p {
  color: tomato;
  cursor: pointer;
}

p:hover {
  color: yellowgreen;
}
